
.header {
    display: flex;
    
}

.bodyone, .bodytwo, .bodythree {
    height: 200px;
}

.headerlinks {
    display: flex;
    margin-left: auto;
    padding-right: 200px;
}

.logo {
    padding-left: 200px;
}

.header, .bodyone {
    background-color: #1f2937;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style: none;
    display: inline-flex;
    gap: 9px;
}

.headerlinks, .logo { 
    display: flex;
    align-items: center;
}

.bodyone {
    display: flex;
    justify-content: center;
}

.oneright {
    display: flex;
    width: 300px;

}